<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\YuvaTravel.Web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />

      <!-- 移除暴露技術的 header -->
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
          <remove name="Server" />
          <remove name="X-AspNet-Version" />
          <remove name="X-AspNetMvc-Version" />
        </customHeaders>
      </httpProtocol>

      <!-- 隱藏 IIS 在錯誤訊息中暴露的版本資訊 -->
      <httpErrors errorMode="Custom" existingResponse="PassThrough" />

      <!-- 安全的 MIME 類型對應 -->
      <staticContent>
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" mimeType="font/woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        <remove fileExtension=".webp" />
        <mimeMap fileExtension=".webp" mimeType="image/webp" />
        <remove fileExtension=".svg" />
        <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      </staticContent>

      <!-- 阻擋直接存取敏感檔案 -->
      <security>
        <requestFiltering removeServerHeader="true">
          <fileExtensions>
            <add fileExtension=".config" allowed="false" />
            <add fileExtension=".cs" allowed="false" />
            <add fileExtension=".csproj" allowed="false" />
            <add fileExtension=".cshtml" allowed="false" />
            <add fileExtension=".sln" allowed="false" />
            <add fileExtension=".user" allowed="false" />
            <add fileExtension=".pdb" allowed="false" />
            <add fileExtension=".db" allowed="false" />
            <add fileExtension=".mdf" allowed="false" />
            <add fileExtension=".ldf" allowed="false" />
            <add fileExtension=".bak" allowed="false" />
            <add fileExtension=".log" allowed="false" />
          </fileExtensions>
          <hiddenSegments>
            <add segment="bin" />
            <add segment="obj" />
            <add segment="App_Data" />
            <add segment="logs" />
            <add segment="DataBase" />
            <add segment="Migrations" />
            <add segment=".vs" />
            <add segment=".git" />
            <add segment="node_modules" />
          </hiddenSegments>
          <requestLimits maxAllowedContentLength="52428800" />
        </requestFiltering>
      </security>

      <!-- 啟用 Gzip 壓縮 (順帶提升效能) -->
      <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    </system.webServer>
  </location>
</configuration>
